<% title "Edit Position" %>

<%= render :partial => "populate_script" %>

<h1>Editing position</h1>

<% form_for [@user, @position] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%=h @user.email %>
  </p>
  <p>
    <%= f.label :committee %><br />
    <%= collection_select(:position, :committee_id, @committees, :id, :code) %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= collection_select(:position, :role_id, @roles, :id, :name) %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= select_academic_year :position, :year, @year_founded, @current_academic_year %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', @user %>
