<% form_for @user do |f| %>
  <%= f.error_messages %>
  <% if @user.new_record? %>  
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Repeat Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
<% end %>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
 
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :other_aliases  %><br />
    <%= f.text_area :other_aliases, :size => "72x6" %>
  </p>
  <p>
    <%= f.label :picture_url %><br />
    <%= f.text_field :picture_url, :size => 100 %><br />
    <span class="instruction">Please provide the URL for a picture, preferrably
      a square pic less than 100KB in size (a "real" pic, para makilala kayo 
      ng ibang users pag nakita kayo in person). You can use sites like 
      <%= link_to "ImageShack", "http://www.imageshack.com/" %> and 
      <%= link_to "Photobucket", "http://www.photobucket.com/" %> to upload 
      your pics to the Internet.<span>
  </p>

  <p>
    <%= f.label :status %><br />
    <%= select(:user, :status, status_list) %><br />
    <span class="instruction"><strong>Inactive Alumni</strong> are alumni who are not registered in the alumni mailing list i.e. alumni who do not wish to be informed of the updates in the org.</span>
  </p>

  <p>
    <%= f.label :batch_id, "Batch" %><br />
    <%= collection_select(:user, :batch_id, @batches, :id, :display_name_long) %>
  </p>
  <p>
    <%= f.label :buddy_id, "Buddy" %><br />
    <%= collection_select(:user, :buddy_id, @user.possible_buddies, :id, :display_name) %>
  </p>
  <p>
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %><br /> 
    <span class="instruction">Use either your Username (e.g. http://www.facebook.com/<strong>bryanbibat</strong>) or profile ID (e.g. http://www.facebook.com/profile.php?id=<strong>753408797</strong>)</span>
  </p>
  <p>
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label :multiply  %><br />
    <%= f.text_field :multiply %>
  </p>
  <p>
    <%= f.label :plurk %><br />
    <%= f.text_field :plurk %>
  </p>
  <p>
    <%= f.label :tumblr  %><br />
    <%= f.text_field :tumblr %>
  </p>
  <p>
    <%= f.label :livejournal  %><br />
    <%= f.text_field :livejournal %>
  </p>
  <p>
    <%= f.label :linkedin %><br />
    <%= f.text_field :linkedin, :size => 60 %><br /> 
    <span class="instruction">provide the url to your public profile e.g. http://ph.linkedin.com/in/bryanbibat</span>
  </p>
 
  <p><%= f.submit "Submit" %></p>
<% end %>
