<% title "Users" %>

<h1>User List</h1>

<table id="users">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Batch</th>
    <th>Status</th>
  </tr>
  <% for user in @users %>
   <tr>
      <td><%= user_thumbnail user.picture_url %></td>
      <td><%= link_to h(user.roster_display), user_path(user) %></td>
      <td><%=h user.batch_display %></td>
      <td><%=h user.status %><%= user.admin? ? ", Site Admin" : "" %></td>
    </tr>
  <% end %>
</table>

<% if @current_user.admin? %>
  <p><%= link_to "New User", new_user_path %></p>
<% end %>
