<% title "Show User Details " %>

<p>
<%= user_pic(@user.picture_url) %><br/>
<span class="nickname"><%=h @user.nickname %></span> (<%=h @user.display_name %>)
<br /><%= @user.status %>
<% if @user.admin? %>
  &#x00d7; Administrator
<% end %>
</p>

<h2>User Details</h2>

<dl>
  <dt>Other nicknames/aliases: </dt>
  <dd><%=h @user.other_aliases %></dd>
  <dt>Email: </dt>
  <dd><%=h @user.email %></dd>
  <dt>Social networking sites: </dt>
  <dd>
  <%= facebook_badge(@user.facebook) %>
  <%= twitter_badge(@user.twitter) %>
  <%= multiply_badge(@user.multiply) %>
  <%= plurk_badge(@user.plurk) %>
  <%= tumblr_badge(@user.tumblr) %>
  <%= livejournal_badge(@user.livejournal) %>
  <%= linkedin_badge(@user.linkedin) %>
  </dd>
  <dt>Batch: </dt>
  <dd><%=h @user.batch_display  %></dd>

<% if !@user.buddy_id.nil? %>
  <dt>Buddy Member: </dt>
  <dd><%= link_to @user.buddy_mem.display_name, @user.buddy_mem  %></dd>
<% end %>
</dl>

<% if @user.buddy_apps.count > 0 %>
<h2>Buddy Apps</h2>

<table id="users">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Batch</th>
    <th>Status</th>
  </tr>
  <% for user in @user.buddy_apps %>
    <tr>
      <td><%= user_thumbnail user.picture_url %></td>
      <td><%= link_to h(user.roster_display), user_path(user) %></td>
      <td><%=h user.batch_display %></td>
      <td><%=h user.status %></td>
    </td>
  <% end %>
  </table>

<% end %>

<h2>Positions Held</h2>

<table>
  <tr>
    <th>Committee</th>
    <th>Role</th>
    <th>Year</th>
  </tr>
  
  <% @positions.each do |position| %>
    <tr>
      <td><%=link_to (h position.committee.code), position.committee %></td>
      <td><%=h position.role.name %></td>
      <td><%=academic_year position.year %></td>
      <td>
        <%= link_to (image_tag "edit.png", :border => 0, :title => "Edit"), 
          edit_user_position_path(@user, position) %> 
        <%= link_to (image_tag "delete.png", :border => 0, :title => "Delete"), 
          user_position_path(@user, position), :confirm => 'Are you sure?', :method => :delete %>
      </td>

    </tr>
  <% end %>
  
</table>

<p>
  <%= link_to 'New position', new_user_position_path(@user) %>
</p>

<p>
<%= link_to "Edit User Details", edit_user_path(@user) %> |
<% if current_user.admin? || current_user.id == @user.id %>
  <%= link_to "Edit User Credentials", edit_credentials_user_path(@user) %> |
<% end %>
<% if current_user.admin? %>
  <%= link_to "Delete User", user_path(@user), :method => :delete, :confirm => "Are you sure you want to delete this user?" %> |
<% end %>
<%= link_to "Back to List", users_path %>
</p>  
