<% title "Show User Details " %>

<h1>User Details</h1>

<p>
  <dt>Name: </dt>
  <dd><%=h @user.display_name %></dd>
</p>
<p>
  <dt>Nickname: </dt>
  <dd><%=h @user.nickname %></dd>
</p>
<p>
  <dt>Other nicknames and online aliases: </dt>
  <dd><%=h @user.other_aliases %></dd>
</p>


<p>
  <dt>Email: </dt>
  <dd><%=h @user.email %></dd>
</p>
<p>
  <dt>Social Networking sites: </dt>
  <dd>
  <%= facebook_badge(@user.facebook) %>
  <%= twitter_badge(@user.twitter) %>
  <%= multiply_badge(@user.multiply) %>
  <%= plurk_badge(@user.plurk) %>
  <%= tumblr_badge(@user.tumblr) %>
  <%= livejournal_badge(@user.livejournal) %>
  <%= linkedin_badge(@user.linkedin) %>
  </dd>
</p>


<p>
  <dt>Batch: </dt>
  <dd><%=h @user.batch_display  %></dd>
</p>

<% if !@user.buddy_id.nil? %>
<p>
  <dt>Buddy Member: </dt>
  <dd><%= link_to @user.buddy_mem.display_name, @user.buddy_mem  %></dd>
</p>
<% end %>

<% if @user.buddy_apps.count > 0 %>
<h2>Buddy Apps</h2>

  <table id="users">
    <% for user in @user.buddy_apps %>
      <tr>
        <td><%= link_to user.display_name, user_path(user) %></td>
      </tr>

    <% end %>
  </table>

<% end %>

<h2>Positions Held</h2>

<table>
  <tr>
    <th>Committee</th>
    <th>Role</th>
    <th>Year</th>
  </tr>
  
  <% @positions.each do |position| %>
    <tr>
      <td><%=h position.committee.code %></td>
      <td><%=h position.role.name %></td>
      <td><%=h position.year %></td>
      <td><%= link_to 'Edit', edit_user_position_path(@user, position) %></td>
      <td><%= link_to 'Destroy', user_position_path(@user, position), :confirm => 'Are you sure?', :method => :delete %></td>

    </tr>
  <% end %>
  
</table>

<p>
  <%= link_to 'New position', new_user_position_path(@user) %>
</p>

<p>
<% if current_user.admin? %>
  <%= link_to "Edit User Details", edit_user_path(@user) %>
  <%= link_to "Delete User", user_path(@user), :method => :delete %>
<% end %>
<%= link_to "Back to List", users_path %>
</p>  
