<h1>Listing committees</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Full name</th>
    <th>Year institutionalized</th>
    <th>Year removed</th>
    <th>Description</th>
  </tr>

<% @committees.each do |committee| %>
  <tr>
    <td><%=h committee.code %></td>
    <td><%=h committee.full_name %></td>
    <td><%=h committee.year_added %></td>
    <td><%=h committee.year_removed %></td>
    <td><%=h committee.description %></td>
    <td><%= link_to 'Show', committee %></td>
    <td><%= link_to 'Edit', edit_committee_path(committee) %></td>
    <td><%= link_to 'Destroy', committee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New committee', new_committee_path %>
