<% title "Committees" %>

<h1>Committee List</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Full name</th>
    <th>Years Active</th>
  </tr>

<% @committees.each do |committee| %>
  <tr>
    <td><%=link_to (h committee.code), committee %></td>
    <td><%=h committee.full_name %></td>
    <td><%= "#{committee.year_added} - #{committee.year_removed ||= "present"}" %></td>
    <% if @current_user.admin? %>
      <td>
        <%= link_to (image_tag "edit.png", :border => 0, :title => "Edit"),
          edit_committee_path(committee) %>
        <%= link_to (image_tag "delete.png", :border => 0, :title => "Delete"),
          committee, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @current_user.admin? %> 
  <p><%= link_to 'New committee', new_committee_path %></p>
<% end %>
