<% title "Batches" %>

<h1>Batch List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th>Year</th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%=h batch.name %></td>
    <td><%=h batch.applicant_batch %></td>
    <td><%=h batch.year %></td>
    <% if @current_user.admin? %>
      <td>
        <%= link_to (image_tag "edit.png", :border => 0, :title => "Edit"), 
          edit_batch_path(batch) %>
        <%= link_to (image_tag "delete.png", :border => 0, :title => "Delete"),
          batch, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @current_user.admin? %>
  <p><%= link_to 'New batch', new_batch_path %></p>
<% end %>
