<h1>Listing system_parameters</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Value</th>
  </tr>

<% @system_parameters.each do |system_parameter| %>
  <tr>
    <td><%=h system_parameter.code %></td>
    <td><%=h system_parameter.value %></td>
    <td>
      <%= link_to (image_tag "edit.png", :border => 0, :title => "Edit"), 
        edit_system_parameter_path(system_parameter) %>
      <%= link_to (image_tag "delete.png", :border => 0, :title => "Delete"), 
        system_parameter, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New system_parameter', new_system_parameter_path %>
